/*
  MEDIA GRID
*/
.mediagrid{
  width:100%;
  padding: 2% 5% 2% 5%;
  justify-content: center;
  display: grid;
  gap: 3% 2%;
  grid-template-columns: repeat(12, 1fr);
}
.mediagrid .item{
  grid-column: span 3;
  color:black;
  background-color: #777;
  cursor:pointer;
  overflow-wrap: break-word;
}
.mediagrid .item:first-child:nth-last-child(1), 
.mediagrid .item:first-child:nth-last-child(1) ~ * {
  grid-column: 4 / span 6; 
}
.mediagrid .item:first-child:nth-last-child(2), 
.mediagrid .item:first-child:nth-last-child(2) ~ * {
  grid-column: span 6; 
}
.mediagrid .item:first-child:nth-last-child(3), 
.mediagrid .item:first-child:nth-last-child(3) ~ *,
.mediagrid .item:first-child:nth-last-child(5), 
.mediagrid .item:first-child:nth-last-child(5) ~ *,
.mediagrid .item:first-child:nth-last-child(6), 
.mediagrid .item:first-child:nth-last-child(6) ~ *,
.mediagrid .item:first-child:nth-last-child(9), 
.mediagrid .item:first-child:nth-last-child(9) ~ * {
  grid-column: span 4; 
}
.mediagrid .item .image_wrapper{
  width:  100%;
  padding-top: 56.25%;      /* 16:9 ratio */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mediagrid .item .infos{
  padding: 2em;
  overflow-x: hidden;
}
.mediagrid .item .infos *{
  width:100%;
}
.mediagrid .item .infos .title{
  line-height:1em;
  padding-bottom: 1em;
}
.mediagrid .item .infos .subtitle{
  border-top: 1px solid black;
  padding-top: 1em;
  margin-bottom: 1em;
}