.carrousel {
  z-index: 10;
  /* opacity: 0; */
  position: fixed;
  width: 100%;
  height: 100%;
}

.carousel-cell {
  width: 100%;
  height: 100%;
  margin-right: 10px;
  background-color: black;
}


.carousel-cell img,
.carousel-cell video {
  /* display: block; */
  object-fit: contain;
  height: 100%;
  width: 100%;
  outline: none;
  border: none;
}


/* position dots in carousel */

.flickity-page-dots {
  top: 0px;
  height: 10px;
}


/* dots are lines */

.flickity-page-dots .dot {
  height: 4px;
  width: 40px;
  margin: 10px 0;
  border-radius: 0;
  background: black;
  opacity: 1;
}

/* Close */

.carrousel-close-button {
  /* display: none; */
  z-index: 12;
  position: absolute;
  background-color: transparent;
  background-size: contain;
  background-image: url('./cross.png');
  background-repeat: no-repeat;
  border-radius: 0;
  width: 66px;
  height: 66px;
  top: 32px;
  right: 32px;
}



/* fill-in selected dot */

.flickity-page-dots .dot.is-selected {
  background: white;
}


/* prev / next buttons */

.flickity-prev-next-button,
.flickity-prev-next-button:hover {
  /* display: none; */
  background-color: transparent;
  background-size: contain;
  background-image: url('./btn_prev.png');
  background-repeat: no-repeat;
  border-radius: 0;
  width: 36px;
  height: 66px;
  top: calc(50%);
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.flickity-prev-next-button.previous {
  left: 50px;
}

.flickity-prev-next-button.next {
  background-image: url('./btn_next.png');
  right: 50px;
}

.flickity-button:focus, 
.flickity-button:hover,
.flickity-button:active {
  outline: none;
  box-shadow: none;
}

.flickity-button:active {
  opacity: 0.5;
}

.flickity-button:disabled {
  opacity: 0;
}

.flickity-button-icon {
  display: none;
}

.progress {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #A4DDEA;
}

.progress .bar {
  height: 100%;
  width: 0%;
  background-color: #00415E;
}

.imgFolder {
  min-width: 50px;
  min-height: 50px;
}

.lang-button {
  min-width: 50px;
  min-height: 50px;
}