/*
  MEDIA GRID
*/
.mediagrid{
  padding: 7% 5% 2% 5%;
  justify-content: center;
  display: grid;
  gap: 3% 2%;
  grid-template-columns: repeat(12, 1fr);
}
.mediagrid .item{
  grid-column: span 3;
  color:black;
  cursor:pointer;
  overflow-wrap: break-word;
}
.mediagrid .item:first-child:nth-last-child(1),
.mediagrid .item:first-child:nth-last-child(1) ~ * {
  grid-column: 4 / span 6;
}
.mediagrid .item:first-child:nth-last-child(2),
.mediagrid .item:first-child:nth-last-child(2) ~ * {
  grid-column: span 6;
}
.mediagrid .item:first-child:nth-last-child(3),
.mediagrid .item:first-child:nth-last-child(3) ~ *,
.mediagrid .item:first-child:nth-last-child(5),
.mediagrid .item:first-child:nth-last-child(5) ~ *,
.mediagrid .item:first-child:nth-last-child(6),
.mediagrid .item:first-child:nth-last-child(6) ~ *,
.mediagrid .item:first-child:nth-last-child(9),
.mediagrid .item:first-child:nth-last-child(9) ~ * {
  grid-column: span 4;
}
.mediagrid .item .image_wrapper{
  width:  100%;
  padding-top: 56.25%;      /* 16:9 ratio */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border-top: 4px solid;
  border-bottom: 4px solid;
  filter: sepia(100%) hue-rotate(330deg) saturate(340%);
}
.mediagrid .item .infos{
  overflow-x: hidden;
  font-family: 'GGcanut-regular', Arial, sans-serif;
  font-size: 22pt;
  line-height:28pt;
}
.mediagrid .item .infos .title{
  line-height:1em;
  margin-top: 15px;
  text-transform: uppercase;
}
.mediagrid .item .infos .subtitle{

}
