/*----------------GLOBALS----------------*/
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img{
  -webkit-user-drag: none;
}
/*----------------HIDE SCROLLBAR----------------*/
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
/*----------------FONTS----------------*/
@font-face {
    font-family: 'GGcanut_ExtraBold';
    src: url('assets/fonts/GGcanut_ExtraBold.otf');
}
@font-face {
    font-family: 'GGcanut_Bold';
    src: url('assets/fonts/GGcanut_Bold.otf');
}
@font-face {
    font-family: 'GGcanut_Medium';
    src: url('assets/fonts/GGcanut_Medium.otf');
}
@font-face {
    font-family: 'GGcanut_Regular';
    src: url('assets/fonts/GGcanut_Regular.otf');
}
/*----------------TYPO----------------*/
*{
  font-family: 'GGcanut_Medium';
  color: rgb(242,150,37);
  -webkit-font-smoothing: antialiased;
}
.lightyellow{
  color: rgb(250,222,164);
}
.big_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 28pt;
  line-height:35pt;
}
.big_bold{
  font-family: 'GGcanut_Bold';
  font-size: 28pt;
  line-height:35pt;
}
.big_medium{
  font-family: 'GGcanut_Medium';
  font-size: 28pt;
  line-height:35pt;
}
.normal_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_bold{
  font-family: 'GGcanut_Bold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_medium{
  font-family: 'GGcanut_Medium';
  font-size: 22pt;
  line-height:28pt;
}
.normal_regular{
  font-family: 'GGcanut_Regular';
  font-size: 22pt;
  line-height:28pt;
}
.little_bold{
  font-family: 'GGcanut_Bold';
  font-size: 15pt;
}
.capslock{
  text-transform: uppercase;
}

body{
  background-image: url("assets/img/BG.png");
}

/*---------------- PAGES ----------------*/
.page{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow-y: hidden;
  display: none;
}
/*---------------- PAGE HOME ----------------*/
#page_home #icon_folder1{
  position: fixed;
  left: 32%;
  top: 11vh;
}
#page_home #icon_folder1 .opener{
  position: fixed;
  left: 48%;
  top: 35vh;
}
#page_home #icon_folder2{
  position: fixed;
  left: 17%;
  top: 53vh;
}
#page_home #icon_folder2 .opener{
  position: fixed;
  left: 17%;
  top: 75vh;
}
#page_home #icon_folder3{
  position: fixed;
  left: 62%;
  top: 53vh;
}
#page_home #icon_folder3 .opener{
  position: fixed;
  left: 62%;
  top: 75vh;
}


/*---------------- PAGE VITRINE ----------------*/
#page_vitrine .uppertitle{
  margin-left: 4%;
  position: absolute;
  margin-top: 50px;
}
#page_vitrine .content{
  margin-left: 52%;
  position: absolute;
  margin-top: 170px;
}
#page_vitrine .content .introtitle{
  width:68%;
  margin-left:20%;
  /* margin-top: 212px; */
}
#page_vitrine .content .introtitle .spacer{
  height:8px;
  background-color: rgb(242,150,37);
  margin-bottom:15px;
  margin-top:15px;
}
#page_vitrine .content .cartel_content{
  width:90%;
}
#page_vitrine .content .cartel_content .spacer{
  height:4px;
  background-color: rgb(242,150,37);
  margin-bottom:15px;
  margin-top:15px;
}
#page_vitrine .closeDiv{
  position: fixed;
}
/*---------------- VITRINE ----------------*/
#page_vitrine .vitrine{
  margin-left: 4%;
  width: 44%;
  position: absolute;
  margin-top: 170px;
}
#page_vitrine .vitrine .element{
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#page_vitrine .vitrine .element:active{
  background-color: rgb(155,145,169);
}
/*---------------- BG COLORS ----------------*/
#page_vitrine .vitrine .element.notselected{
  background-color: rgb(76,57,100); /*setup colorimetre sRVB*/
}
#page_vitrine .vitrine .element.selected{
  background-color: rgb(155,145,169);
}
#page_vitrine .vitrine .ligne1 #element2{
  border-top-left-radius: 60px 60px;
  border-top-right-radius: 60px 60px;
  height: 130px;
  width:100%;
}
#page_vitrine .vitrine .ligne2{
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-gap: 50px;
}
#page_vitrine #element1{
  height: 420px;
}
#page_vitrine #element3, #page_vitrine #element4, #page_vitrine #element5{
  height: 120px;
}
