

/*----------------GLOBALS----------------*/
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img{
  -webkit-user-drag: none;
}
/*----------------HIDE SCROLLBAR----------------*/
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
/*----------------FONTS----------------*/
@font-face {
    font-family: 'GGcanut_ExtraBold';
    src: url('assets/fonts/GGcanut_ExtraBold.otf');
}
@font-face {
    font-family: 'GGcanut_Bold';
    src: url('assets/fonts/GGcanut_Bold.otf');
}
@font-face {
    font-family: 'GGcanut_Medium';
    src: url('assets/fonts/GGcanut_Medium.otf');
}
@font-face {
    font-family: 'GGcanut_Regular';
    src: url('assets/fonts/GGcanut_Regular.otf');
}
/*----------------TYPO----------------*/
*{
  font-family: 'GGcanut_Medium';
  color: rgb(242,150,37);
  -webkit-font-smoothing: antialiased;
  font-size: 22pt;
  line-height:28pt;
}
.lightyellow{
  color: rgb(250,222,164);
}
.purple{
  color: rgb(56, 35, 83);
}
.giant_bold{
  font-family: 'GGcanut_Bold';
  font-size: 70pt;
  line-height:70pt;
}
.big_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 28pt;
  line-height:35pt;
}
.big_bold{
  font-family: 'GGcanut_Bold';
  font-size: 28pt;
  line-height:35pt;
}
.big_medium{
  font-family: 'GGcanut_Medium';
  font-size: 28pt;
  line-height:35pt;
}
.normal_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_bold{
  font-family: 'GGcanut_Bold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_medium{
  font-family: 'GGcanut_Medium';
  font-size: 22pt;
  line-height:28pt;
}
.normal_regular{
  font-family: 'GGcanut_Regular';
  font-size: 22pt;
  line-height:28pt;
}
.text_bold{
  font-family: 'GGcanut_Bold';
  font-size: 19pt;
  line-height:22pt;
}
.little_bold{
  font-family: 'GGcanut_Bold';
  font-size: 15pt;
}
.capslock{
  text-transform: uppercase;
}


/*INTERACT*/
.btn, .scrollbar_container, .item, #videoplayer{
  cursor:pointer;
}
.btn{
  opacity: 0.9;
}
.btn:hover{
  opacity: 1;
}
.btn:active{
  opacity: 0.7;
}


body{
  background-color: rgb(38,20,54);
}

/*---------------- PAGES ----------------*/
.page{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow-y: hidden;
  display: none;
}
#page_home{
  background-image: url("assets/img/BG.png");
}
#page_home .title{
  top: 26vh;
  left: 33%;
  position: fixed;
}


/*------------ PAGE SELECTION -------------*/

#page_selection *{
  position: fixed;
}

#page_selection .keyword{
  filter: sepia(1) contrast(1.05);
}
#page_selection .keyword.selected{
  filter: sepia(0) contrast(1);
}

#page_selection .title{
  left: 35%;
  top: 37vh;
}
#page_selection #title_go{
  display:none;
}
#page_selection .group:nth-of-type(1) .group_number{
  left:16%;
  top:30vh;
}
#page_selection #A{
  left: 20%;
  top: 16vh;
}
#page_selection #B{
  left: 7%;
  top: 6vh;
}
#page_selection .group:nth-of-type(2) .group_number{
  left: 75%;
  top: 12vh;
}
#page_selection #C{
  left: 82%;
  top: 30vh;
}
#page_selection #D{
  left: 69%;
  top: 21vh;
}
#page_selection #E{
  left: 80%;
  top: 5vh;
}
#page_selection .group:nth-of-type(3) .group_number{
  left: 81%;
  top: 65vh;
}
#page_selection #F{
  left: 68%;
  top: 65vh;
}
#page_selection #G{
  left: 82%;
  top: 71vh;
}

#page_selection .group:nth-of-type(4) .group_number{
  left: 10%;
  top: 59vh;
}
#page_selection #H{
  left: 21.5%;
  top: 69vh;
}
#page_selection #I{
  left: 15%;
  top: 47vh;
}
#page_selection #J{
  left: 8%;
  top: 68vh;
}

#page_selection #go{
 display:none;
}


/*------------ PAGE TEXT -------------*/
#page_text{
  visibility: hidden;
  margin: 8vh 8% 8vh 8%;
  width: 84%;
  height: 84vh;
  background-color: rgb(252,234,202);
  display:grid;
  grid-template-columns: 46% 54%;
}
#restart{
  position: fixed;
  top: 2.5%;
  right: 1.5%;
}
#page_text .recap{
  margin-bottom: 30px;
  text-align: center;
}
#page_text #phrase_main{
  border-top: 5px solid rgb(56, 35, 83);
  border-bottom: 5px solid rgb(56, 35, 83);
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
#page_text .hashtags{
  float: left;
}
#page_text #QRCode{
  float: right;
  width: 25%;
}
#page_text .column.left{
  margin-top: 10vh;
  margin-left: 12%;
  margin-right: 5%;
}

#page_text .column.right{
  border-left: 5px solid rgb(56, 35, 83);
  margin-top:4vh;
  margin-bottom:4vh;
  padding-left: 5%;
  padding-right: 5%;
}
#page_text #profil_pic{
  margin-left: auto;
  margin-right: auto;
  display: block;
}
#page_text #text_displayed{
  margin-top:40px;
  column-count: 2;
}

#page_text .text, #page_text .phrase, #page_text .perso{
  display:none;
}

#page_text .text{
  display:none;
  white-space: pre-line;

}
