/*----------------GLOBALS----------------*/
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img{
  -webkit-user-drag: none;
}
/*----------------HIDE SCROLLBAR----------------*/
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
/*----------------FONTS----------------*/
@font-face {
    font-family: 'GGcanut_ExtraBold';
    src: url('assets/fonts/GGcanut_ExtraBold.otf');
}
@font-face {
    font-family: 'GGcanut_Bold';
    src: url('assets/fonts/GGcanut_Bold.otf');
}
@font-face {
    font-family: 'GGcanut_Medium';
    src: url('assets/fonts/GGcanut_Medium.otf');
}
@font-face {
    font-family: 'GGcanut_Regular';
    src: url('assets/fonts/GGcanut_Regular.otf');
}
/*----------------TYPO----------------*/
*{
  font-family: 'GGcanut_Medium';
  color: rgb(242,150,37);
  -webkit-font-smoothing: antialiased;
}
.lightyellow{
  color: rgb(250,222,164);
}
.big_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 28pt;
  line-height:35pt;
}
.big_bold{
  font-family: 'GGcanut_Bold';
  font-size: 28pt;
  line-height:35pt;
}
.big_medium{
  font-family: 'GGcanut_Medium';
  font-size: 28pt;
  line-height:35pt;
}
.normal_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_bold{
  font-family: 'GGcanut_Bold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_medium{
  font-family: 'GGcanut_Medium';
  font-size: 22pt;
  line-height:28pt;
}
.normal_regular{
  font-family: 'GGcanut_Regular';
  font-size: 22pt;
  line-height:28pt;
}
.little_bold{
  font-family: 'GGcanut_Bold';
  font-size: 15pt;
}
.capslock{
  text-transform: uppercase;
}

body{
  background-image: url("assets/img/BG.png");
}









/*INTERACT*/
.btn, .scrollbar_container, .item, #videoplayer{
  cursor:pointer;
}
.btn{
  opacity: 0.9;
}
.btn:hover{
  opacity: 1;
}
.btn:active{
  opacity: 0.7;
}


/*PAGES*/
.page{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow-y: hidden;
  display:none;
}

#page_home{

}

#page_selection * {
 margin-bottom: 10px;
}


#page_selection .title{

}
#page_selection .infos{

}
#page_selection #go{
 display:none;
}

#page_selection .group_title{
 text-decoration: underline;
}
#page_selection .keyword{
 border: 1px solid black;
 width: fit-content;
 cursor: pointer;
}
.selected{
 border: 1px solid black;
 color:white;
 background-color: black;
}

#page_text{

}
#page_text .text{
  display:none;
  white-space: pre-line;

}
