/*----------------GLOBALS----------------*/
html {
  touch-action:none;
}
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img{
  -webkit-user-drag: none;
}
/*----------------HIDE SCROLLBAR----------------*/
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
/*----------------FONTS----------------*/
@font-face {
    font-family: 'GGcanut_ExtraBold';
    src: url('assets/fonts/GGcanut_ExtraBold.otf');
}
@font-face {
    font-family: 'GGcanut_Bold';
    src: url('assets/fonts/GGcanut_Bold.otf');
}
@font-face {
    font-family: 'GGcanut_Medium';
    src: url('assets/fonts/GGcanut_Medium.otf');
}
@font-face {
    font-family: 'GGcanut_Regular';
    src: url('assets/fonts/GGcanut_Regular.otf');
}
/*----------------TYPO----------------*/
*{
  font-family: 'GGcanut_Medium';
  color: rgb(212,186,128);
  -webkit-font-smoothing: antialiased;
}

.carousel .title{
  font-family: 'GGcanut_Bold';
  font-size: 20pt;
}
.carousel .dates{
  font-family: 'GGcanut_Bold';
  font-size: 18pt;
}
.bigTitle{
  font-family: 'GGcanut_ExtraBold';
  font-size: 50pt;
}
.textTitle{
  font-family: 'GGcanut_Bold';
  font-size: 24pt;
}
.textMain{
  font-family: 'GGcanut_Medium';
  font-size: 20pt;
  line-height: 26pt;
}
.textLegend1{
  font-family: 'GGcanut_Bold';
  font-size: 22pt;
  line-height: 26pt;
}
.textLegend2{
  font-family: 'GGcanut_Bold';
  font-size: 14pt;
}



.violet{
  color: rgb(142,66,146);
}
.violetclair, .violetclair > i{
  color: rgb(198,163,204);
}
.dore{
  color: rgb(212,186,128)
}
.doreclair{
  color: rgb(226,211,182)
}

.capslock{
  text-transform: uppercase;
}

body{
  background-image: url("assets/img/BG.png");
}

/*---------------- PAGES ----------------*/
.page{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow-y: hidden;
  display: none;
}
/*---------------- PAGE HOME ----------------*/
#page_home #icon_folder1{
  position: fixed;
  left: 15%;
  top: 29vh;
}
#page_home #icon_folder2{
  position: fixed;
  left: 51%;
  top: 43vh;
}

/*---------------- PAGE GALERIE ----------------*/

#page_galerie{
  display: none;
  background-image: url("assets/img/BG_gallery.png");
}

#page_galerie .back{
  position: fixed;
  left: 3%;
  top: 4vh;
}

#page_galerie .mainTitle{
  position: fixed;
  left: 25%;
  top: 10vh;
}

#page_galerie .carousel {
  top: 43vh;
  text-align: center;
}
#page_galerie .carousel *{
  margin-bottom: 12px;
}
#page_galerie .carousel .item{
  margin-left: 5%;
}
#page_galerie .carousel img{
  height:38vh;
  margin-bottom: 20px;
}



.flickity-button{
  display:none;
}

/*---------------- PAGE PORTRAITS & PAGE MAIRES----------------*/

#page_portraits{
  display: none;
  background-image: url("assets/img/BG_galleryitem.png");
}
#page_portraits .portrait{
  display: none;
}
#page_maires .maire{
  display: none;
}

.pageFeuilletoir .bigTitle{
  position: fixed;
  left: 5%;
  top: 3vh;
}
.pageFeuilletoir .bigSpacer{
  height: 2px;
  background-color: rgb(142,66,146);
  margin-bottom: 20px;
  position: fixed;
  left: 1%;
  top: 12vh;
  width: 98%;
}

.pageFeuilletoir .portraitTitle{
  position: fixed;
  left: 7%;
  top: 13vh;
}

.pageFeuilletoir .portraitImg{
  position: fixed;
  left: 16%;
  top: 35vh;
  width: 32%;
}
.pageFeuilletoir p{
  margin-top: 0;
  margin-bottom:12px;
}
.pageFeuilletoir .text{
  position: fixed;
  left: 53%;
  top: 35vh;
  width: 32%;
}
.pageFeuilletoir .textSpacer{
  height: 2px;
  background-color: rgb(212,186,128);
  margin-bottom: 20px;
}

.pageFeuilletoir .prev{
  position: fixed;
  top: 57vh;
  left: 5%;
}
.pageFeuilletoir .next{
  position: fixed;
  top: 57vh;
  right: 5%;
}

.closePortrait, .closeMaires{
  position: fixed;
  top: 32px;
  right: 3%;
}






.closeBtn {
  z-index: 12;
  position: absolute;
  background-color: transparent;
  background-size: contain;
  background-image: url('./assets/img/cross.png');
  background-repeat: no-repeat;
  border-radius: 0;
  width: 66px;
  height: 66px;
  top: 32px;
  right: 3%;
}