/*----------------GLOBALS----------------*/
html {
  touch-action:none;
}
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img{
  -webkit-user-drag: none;
}
/*----------------HIDE SCROLLBAR----------------*/
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
/*----------------FONTS----------------*/
@font-face {
    font-family: 'GGcanut_ExtraBold';
    src: url('assets/fonts/GGcanut_ExtraBold.otf');
}
@font-face {
    font-family: 'GGcanut_Bold';
    src: url('assets/fonts/GGcanut_Bold.otf');
}
@font-face {
    font-family: 'GGcanut_Medium';
    src: url('assets/fonts/GGcanut_Medium.otf');
}
@font-face {
    font-family: 'GGcanut_Regular';
    src: url('assets/fonts/GGcanut_Regular.otf');
}
/*----------------TYPO----------------*/
*{
  font-family: 'GGcanut_Medium';
  color: rgb(52,36,71);
  -webkit-font-smoothing: antialiased;
}
.lightyellow{
  color: rgb(250,222,164);
}
.big_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 28pt;
  line-height:35pt;
}
.big_bold{
  font-family: 'GGcanut_Bold';
  font-size: 28pt;
  line-height:35pt;
}
.big_medium{
  font-family: 'GGcanut_Medium';
  font-size: 28pt;
  line-height:35pt;
}
.normal_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_bold{
  font-family: 'GGcanut_Bold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_medium{
  font-family: 'GGcanut_Medium';
  font-size: 22pt;
  line-height:28pt;
}
.normal_regular{
  font-family: 'GGcanut_Regular';
  font-size: 22pt;
  line-height:28pt;
}
.little_bold{
  font-family: 'GGcanut_Bold';
  font-size: 15pt;
}
.capslock{
  text-transform: uppercase;
}

body{
  background-image: url("assets/img/BG.png");
}

/*---------------- PAGES ----------------*/
.page{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow-y: hidden;
  display: none;
}
/*---------------- PAGE HOME ----------------*/
#page_home #icon_folder1{
  position: fixed;
  left: calc(371px - 158px);
  top: 257px;
}
#page_home #icon_folder2{
  position: fixed;
  left: 871px;
  top: 560px;
}

/*---------------- PAGE PLAYER ----------------*/
#page_video{
  background-color: black;
  z-index: 100;
}

.scrollbar_time, .scrollbar_tick{
  display: none;
}

.scrollbar .scrollbar_container{
  position: absolute;
  width: 100%;
  bottom: 25px;
  left: 0;
  z-index: 10;
  box-sizing: border-box;
  cursor:pointer;
}

.scrollbar .scrollbar_container .scrollbar_left,
.scrollbar .scrollbar_container .scrollbar_background {
  height: 10px; /* if you change this size, also adjust bottom position of .scrollbar .scrollbar_container */
}


/*---------------- PAGE PANORAMA (GALLERY) ----------------*/

#B09_objets .flickity-prev-next-button {
  width: 90px;
  height: 90px;
}

#B09_objets .flickity-prev-next-button.previous {
  left: 35px;
  background-image: url('assets/img/btn_prev.png');
}

#B09_objets .flickity-prev-next-button.next {
  right: 35px;
  background-image: url('assets/img/btn_next.png');
}

#B09_objets .carrousel-close-button {
  background-image: url('assets/img/cross.png');
}



/*---------------- CLOSE ----------------*/
.closeBtn {
  /* display: none; */
  z-index: 12;
  position: absolute;
  background-color: transparent;
  background-size: contain;
  background-image: url('./assets/img/cross.png');
  background-repeat: no-repeat;
  border-radius: 0;
  width: 66px;
  height: 66px;
  top: 32px;
  right: 32px;
}