/*----------------GLOBALS----------------*/
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img{
  -webkit-user-drag: none;
}
/*----------------HIDE SCROLLBAR----------------*/
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}
/*----------------FONTS----------------*/
@font-face {
    font-family: 'GGcanut_ExtraBold';
    src: url('assets/fonts/GGcanut_ExtraBold.otf');
}
@font-face {
    font-family: 'GGcanut_Bold';
    src: url('assets/fonts/GGcanut_Bold.otf');
}
@font-face {
    font-family: 'GGcanut_Medium';
    src: url('assets/fonts/GGcanut_Medium.otf');
}
@font-face {
    font-family: 'GGcanut_Regular';
    src: url('assets/fonts/GGcanut_Regular.otf');
}
/*----------------TYPO----------------*/
*{
  font-family: 'GGcanut_Medium';
  color: rgb(242,150,37);
  -webkit-font-smoothing: antialiased;
}
.lightyellow{
  color: rgb(250,222,164);
}
.big_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 28pt;
  line-height:35pt;
}
.big_bold{
  font-family: 'GGcanut_Bold';
  font-size: 28pt;
  line-height:35pt;
}
.big_medium{
  font-family: 'GGcanut_Medium';
  font-size: 28pt;
  line-height:35pt;
}
.normal_extrabold{
  font-family: 'GGcanut_ExtraBold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_bold{
  font-family: 'GGcanut_Bold';
  font-size: 22pt;
  line-height:28pt;
}
.normal_medium{
  font-family: 'GGcanut_Medium';
  font-size: 22pt;
  line-height:28pt;
}
.normal_regular{
  font-family: 'GGcanut_Regular';
  font-size: 22pt;
  line-height:28pt;
}
.little_bold{
  font-family: 'GGcanut_Bold';
  font-size: 15pt;
}
.capslock{
  text-transform: uppercase;
}

body{
  background-image: url("assets/img/BG.png");
}
/*---------------- BTNS ----------------*/
.btn:active{
  opacity: 0.9;
}
.opener{
  height: 140px;
  width: 140px;
  background-repeat: no-repeat;
  background-image: url("assets/img/btn_open.png")
}
.folder_icon:active .opener, .opener:active{
  background-image: url("assets/img/btn_open_active.png")
}
/*---------------- PAGES ----------------*/
.page{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  overflow-y: hidden;
}
/*---------------- PAGE HOME ----------------*/
#page_home #icon_folder1{
  position: fixed;
  left: 18%;
  top: 34vh;
}
#page_home #icon_folder1 .opener{
  position: fixed;
  left: 18%;
  top: 56vh;
}
#page_home #icon_folder2{
  position: fixed;
  left: 58%;
  top: 34vh;
}
#page_home #icon_folder2 .opener{
  position: fixed;
  left: 58%;
  top: 56vh;
}

/*---------------- PAGE PLAYER ----------------*/
#page_video{
  background-color: black;
  z-index: 100;
}


/*---------------- CLOSE ----------------*/
.closeDiv {
  position: absolute;
  background-color: transparent;
  background-size: contain;
  background-image: url(assets/img/back.png);
  background-repeat: no-repeat;
  border-radius: 0;
  width: 100px;
  height: 65px;
  top: 32px;
  left: 5%;
}
