

/*HIDE SCROLLBAR*/
*{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
*::-webkit-scrollbar {
  display: none;
}

/*FONTS*/
@font-face {
    font-family: 'Heimat-Stencil-SemiBold';
    src: url('fonts/Heimat-Stencil-SemiBold.otf');
}
@font-face {
    font-family: 'MinionPro-Regular';
    src: url('fonts/MinionPro-Regular.otf');
}
@font-face {
    font-family: 'Akkurat';
    src: url('fonts/Akkurat.ttf');
}

/*TYPO*/
*{
  font-family: 'Akkurat';
  font-size: 24px;
}
.title{
  font-family: 'Heimat-Stencil-SemiBold';
  font-size: 28px;
}


/* PAGES */
.pages{
  position: absolute;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color: black;
  overflow-y: hidden;
}

/* PAGE GRID */
#page_grid{
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
  flex-wrap: wrap;
}

#page_grid .mediagrid .item{
  background-color: rgb(216,97,99);
}


/* PAGE PLAYER */
#page_video{
  position:absolute;
  width: 100%;
  height: 100%;
}

/* PAGE BLACK */
#page_black{
  color:white;
  z-index:100;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* PAGES ANIMATIONS */
.fadeout{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.fadein{
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}